body{
	background-image: linear-gradient(#097974, #097974, #097974);
}
h1{
	font-size:35pt;
	font-style:italic;
	color:white;
}

h3{
	font-size:20pt;
	color:white;
}
.titoloMarca{
	font-size:15pt;
	font-weight:bold;
}
.stile{
	background-color:black;
}
.divVeicolo{
	display: inline-block;
    width: 200px;
    margin: 10px;
}
.didascalia{
    font-size: 9pt;
	border: 3px solid black;
	background-color:#BBB;
}